<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--The AppID and AppPassword of the bot to be tested-->
    <add key="AppId" value="" />
    <add key="AppPassword" value="" />
    <!--The bot's messaging endpoint ( "https://<host>/api/messages" )-->
    <add key="BotEndpoint" value="" />
    <!--The Url of the mock channel ( "https://<host>/" )-->
    <add key="ServiceUrl" value=""/>
    <!-- The mock channel's "Send Activity" API ( "http://<host>/v3/conversations/1/activities" )-->
    <add key="SendToConversationUrl" value=""/>
  </appSettings>
</configuration>